//---------------------------------------COMMON STYLE
:root {
	--font-OpenSans: 'Open Sans', sans-serif;
	--font-Yantramanav: 'Yantramanav', sans-serif;
	--color-red: #da2128;
	--color-primary: #111111;
	--font-title: 22px;
	--font-primary: 13px;
	@media(min-width: 1024px) {
		--font-primary: 15px;
		--font-title: 36px;
	}
}
body {
	font-size: var(--font-primary);
	font-family: var(--font-Yantramanav);
	line-height: 1.47em;
	color: var(--color-primary);
}
.container {
	max-width: 1440px;
	margin-inline: auto;
	padding: 0px 10px;
	@media(min-width: 1024px){
		padding: 0px 30px;
	}
	&-large {
		max-width: 100%;
	}
}
.overlay {
	display: none;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.3);
	.open-search & {
		@media(max-width: 767px) {
			display: block;
		}
	}
}
.btn-primary {
	display: inline-block;
	min-width: 170px;
	padding: 10px 5px;
	font-size: 20px;
	line-height: 1.2em;
	color: #fff;
  	border-radius: 5px;
  	background-color: var(--color-red);
	&.transparent {
		background-color: transparent;
		border: 1px solid var(--color-red);
		color: var(--color-red);
	}
}