//---------------------------------------COMMON STYLE
:root {
	--font-OpenSans: 'Open Sans', sans-serif;
	--font-Yantramanav: 'Yantramanav', sans-serif;
	--color-gray: #ddd9d1;
	--color-lightgray: #cccccc;
	--color-orange: #f39200;
	--color-primary: #484848;
	--font-title: 18px;
	--font-primary: 14px;
	--font-sliderCaption: 26px;
}

.container {
	max-width: 1440px;
	margin-inline: auto;
	padding: 0px 15px;
	@media(min-width: 1024px){
		padding: 0px 30px;
	}
}