//---------HOME PAGE STYLE - BANNER SLIDER
.slider-wrap {
	position: relative;
	.arrows-icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		a {
			display: inline-block;
			padding: 13px;
			background-color: #fff;
			box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
			border-radius: 50%;
			img {
				max-width: 24px;
			}
		}
		&.arrow-left {
			left: -10px;
		}
		&.arrow-right {
			right: -10px;
		}
	}
	@media(min-width: 768px){
		.arrows-icon {
			&.arrow-right {
				right: 5px;
			}
			&.arrow-left {
				left: 5px;
			}
		}
	}
	@media(min-width: 1024px){
		.arrows-icon {
			&.arrow-right {
				right: 30px;
			}
			&.arrow-left {
				left: 30px;
			}
		}
	}
}
.banner-slider {
	.slider {
		&-wrap {
			position: relative;
		}
		&-item {
			&--wrap {
				position: relative;
			}
			.img {
				img {
					width: 100%;
				}
			}
			.content {
				display: inline-block;
				position: absolute;
				top: 0;
				left: 50%;
				padding-top: 50px;
				text-align: center;
				z-index: 3;
				transform: translateX(-50%);
				.item {
					&-text {
						font-size: 18px;
						line-height: 1.1em;
						color: var(--color-primary);
						font-weight: 300;
					}
					&-title {
						margin-bottom: 15px;
						font-size: 32px;
						line-height:1.1em;
						color: var(--color-primary);
						font-weight: 300;
					}
					a {

					}
				}
			}
		}
	}
	@media(min-width: 768px){
		.slider {
			&-item {
				.content {
					padding: 0px 30px;
					top: calc(~"50% - 25px");
					left: 0;
					transform: translate(0, -50%);
					.item {
						&-text {
							margin-bottom: 5px;
							font-size: 36px;
						}
						&-title {
							margin-bottom: 64px;
							font-size: 55px;
							font-weight: 300;
						}
					}
				}
			}
		}
	}
	@media(min-width: 1024px) {
		.slider {
			&-item {
				.content {
					top: 50%;
					left: 23%;
					min-width: 340px;
					padding: 0px;
					.item {
						&-title {
							@media(max-width: 1440px) {
								margin-bottom: 30px;
							}
						}
					}
				}
			}
		}
	}
}
//---------HOME PAGE STYLE - CATEGORIES
.home-categories {
	padding: 30px 0px;
	ul {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 15px;
		li {
			width: calc(~"50% - 15px");
			text-align: center;
			a {
				display: inline-block;
				margin-bottom: 12px;
				overflow: hidden;
				border-radius: 50%;
			 	box-shadow: 0 2px 5px 0 rgba(17, 17, 17, 0.1);
				img {
					display: block;
					max-width: 160px;
				}
			}
			span {
				display: block;
				font-size: 18px;
				color: var(--color-primary);
				font-weight: 500;
				line-height: 1.1em;
			}
		}
	}
	@media(min-width: 768px){
		ul {
			gap: 48px;
			li {
				width: calc(~"33.33% - 32px");
				a {
					img {
						max-width: 196px;
					}
				}
				span {
					font-size: 23px;
				}
			}
		}
	}
	@media(min-width: 1024px) {
		padding: 60px 0px;
	}
	@media(min-width: 1440px) {
		ul {
			flex-wrap: unset;
			gap: 50px;
			li {
				width: auto;
			}
		}
	}
}
//---------HOME PAGE STYLE - PRODUCT SLIDER
.product-slider {
	padding: 30px 0px;
	.section-title {
		&--icon {
			display: flex;
			align-items: center;
			img {
				margin-right: 5px;
				vertical-align: middle;
				max-width: 32px;
			}
		}
	}
	.cate-description {
		margin-bottom: 30px;
		ul {
			li {
				margin-bottom: 10px;
				&:last-of-type {
					margin-bottom: 0px;
				}
				a {
					display: block;
					border-radius: 5px;
					img {
						width: 100%;
					}
				}
				.top-img {
					margin-bottom: 10px;
				}
			}
		}
	}
	.slider {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		.slider-item {
			&--wrap {
				overflow: hidden;
				background-color: #fff;
				border-radius: 5px;
  				box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
			}
			width: calc(~"50% - 5px");
			&.shop-all {
				.slider-item--wrap {
					position: relative;
					height: 100%;
					background-color: #f2f2f2;
				}
				.btn-primary {
					position: absolute;
					bottom: 10px;
					left: 10px;
					right: 10px;
					min-width: auto;
					z-index: 3;
					margin-inline: auto;
					text-align: center;
				}
			}
		}
	}
	@media(min-width: 768px){
		.cate-description {
			ul {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				li {
					width: calc(~"50% - 5px");
					&:last-of-type {
						margin-bottom: 0px;
					}
					&.row-img {
						width: 100%;
					}
				}
			}
		}
		.slider {
			gap: 30px;
			.slider-item {
				width: calc(~"33.33% - 20px");
				&.shop-all {
					.btn-primary {
						bottom: 20px;
						left: 20px;
						right: 20px;
					}
				}
			}
		}
	}
	@media(min-width: 1024px){
		padding: 60px 0px;
		.cate-description {
			margin-bottom: 50px;
			ul {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				li {
					width: calc(~"33.33% - 5px");
					&:last-of-type {
						margin-bottom: 0px;
					}
					&.row-img {
						width: calc(~"33.33% - 5px");
						li {
							width: 100%;
						}
					}
				}
			}
		}
		.slider {
			gap: 30px;
			.slider-item {
				width: calc(~"25% - 22.5px");
				&.shop-all {
					.btn-primary {
						bottom: 20px;
						left: 20px;
						right: 20px;
					}
				}
			}
		}
	}
	@media(min-width: 1440px) {
		.slider {
			gap: 21px;
			.slider-item {
				width: calc(~"20% - 17px");
			}
		}
	}
	@media(min-width: 1500px) {
		.arrows-icon {
			&.arrow-right {
				right: -25px;
			}
			&.arrow-left {
				left: -25px;
			}
		}
	}
}
//---------HOME PAGE STYLE - TOP BRANDS
.top-brand {
	padding: 40px 0px;
	.list-payment {
		display: none;
	}
	.brand-logo {
		margin-bottom: 20px;
		ul {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 12px;
			li {
				width: calc(~"33.33% - 8px");
				text-align: center;
				a {
					display: inline-block;
					img {
						max-width: 88px;
					}
				}
			}
		}
	}
	.btn-view-all {
		text-align: center;
		a {
			font-size: 18px;
		}
	}
	@media(min-width: 768px){
		.brand-logo {
			ul {
				gap: 30px 40px;
				li {
					width: calc(~"20% - 32px");
					a {
						img {
							max-width: 113px;
						}
					}
				}
			}
		}
	}
	@media(min-width: 1024px){
		.brand-logo {
			ul {
				gap: 20px;
				li {
					width: calc(~"16.66% - 17px");
					a {
						img {
							max-width: 113px;
						}
					}
				}
			}
		}
	}
	@media(min-width: 1440px){
		padding: 60px 0px;
		.list-payment {
			display: block;
			background-color: #f2f2f2;
			padding: 20px 0px;
			margin-bottom: 60px;
			ul {
				display: flex;
				justify-content: center;
				align-items: center;
				li {
					margin-right: 40px;
					font-size: 36px;
					line-height: 1.2em;
					color: var(--color-primary);
					font-weight: 300;
					img {
						max-height: 48px;
					}
					&:last-of-type {
						margin-right: 0px;
						padding-left: 40px;
						border-left: 2px solid #ccc;
					}
				}
			}
		}
	}
}
//---------HOME PAGE STYLE - INTRODUCE
.introduce {
	padding: 30px 0px;
	background-color: #f2f2f2;
	.section-title {
		margin-bottom: 15px;
	}
	.col {
		&-wrap {

		}
		&-left {
			margin-bottom: 60px;
			.content {
				padding: 40px 25px 25px 30px;
				background-color: #fff;
				border-top-right-radius: 48px;
				h3 {
					margin-bottom: 10px;
					font-size: 26px;
					line-height: 1.15em;
					font-weight: 300;
					color: var(--color-primary);
				}
				h4 {
					margin-bottom: 10px;
					font-size: 18px;
					font-weight: 500;
					line-height: 1.15em;
					color: var(--color-primary);
				}
				p {
					font-size: 15px;
					line-height: 1.47em;
				}
			}
		}
		&-right {
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 30px 26px;
				li {
					width: calc(~"50% - 13px");
					img {
						margin-bottom: 5px;
						max-width: 48px;
					}
					h4 {
						margin-bottom: 5px;
						font-size: 18px;
						line-height: 1.38em;
					}
					p {
						margin-bottom: 5px;
						font-size: 13px;
						line-height: 1.38em;
						&:last-of-type {
							margin-bottom: 0px;
						}
					}
				}
			}
		}
	}
	@media(min-width: 768px) {
		.col {
			&-left {
				margin-bottom: 25px;
				.content {
					padding: 40px 30px 30px 30px;
				}
			}
			&-right {
				ul {
					gap: 30px;
					li {
						width: calc(~"25% - 23px");
					}
				}
			}
		}
	}
	@media(min-width: 1200px) {
		padding: 120px 0px 60px;
		.introduce-wrap {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		.section-title {
			margin-bottom: 35px;
		}
		.col {
			width: 50%;
			&-left {
				margin-bottom: 0px;
				position: relative;
				&::after {
					position: absolute;
					top: 0;
					right: 0;
					display: block;
					width: 98px;
					height: 101px;
					margin-top: -65px;
					margin-right: -65px;
					content: "";
					background: url('../images/intro-corner.png') 0 0 no-repeat;
					background-size: cover;
				}
				.content {
					padding: 35px 50px 60px;
					h3 {
						font-size: 40px;
					}
					h4 {
						margin-bottom: 15px;
						font-size: 24px;
					}
					p {
						font-size: 15px;
					}
				}
			}
			&-right {
				width: calc(~"50% - 100px");
				ul {
					gap: 45px 30px;
					li {
						width: calc(~"50% - 15px");
						p {
							font-size: 15px;
						}
					}
				}
			}
		}
	}
}

//---------HOME PAGE STYLE - LASTEST BLOG
.lastest-blog {
	padding: 30px 0px;
	.slider-wrap {
		.slick-track {
			padding-bottom: 10px;
		}
		.arrows-icon {
			top: 40%;
		}
		.arrow-left {
			left: -25px;
		}
		.arrow-right {
			right: -25px;
		}
	}
	
	.blog-item {
		margin-bottom: 30px;
		&--wrap {
			border-radius: 5px;
		  	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
		  	background-color: #fff;
		}
		.thumb {
			position: relative;
			.blog-date {
				position: absolute;
				top: 20px;
				left: 0;
				display: inline-block;
				padding: 4px 6px;
				background-color: rgba(0,0,0,0.7);
				z-index: 2;
				text-align: center;
				&--day {
					display: block;
					font-size: 24px;
					line-height: .875em;
					color: #fff;
					font-weight: 300;
				}
				&--month {
					display: block;
					font-size: 10px;
					line-height: .875em;
					color: #fff;
					font-weight: 300;
				}
			}
		}
		.content {
			padding: 15px 10px 10px;
			h3 {
				margin-bottom: 5px;
				font-size: 18px;
				font-weight: 500;
				line-height: 1.11em;
			}
			p {
				margin-bottom: 15px;
				font-size: 13px;
				line-height: 1.38em;
				&:last-child {
					margin-bottom: 0px;
				}
			}
			.read-more {
				font-size: 14px;
				font-weight: 300;
				line-height: 1.15em;
				color: var(--color-red);
				img {
					max-width: 20px;
				}
			}
		}
	}
	@media(min-width: 768px) {
		.blog-slider {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin: 0px -15px;
		}
		.blog-item {
			margin-bottom: 0px;
			width: calc(~"50% - 30px");
			&--wrap {
				margin: 0px 15px;
			}
		}
	}
	@media(min-width: 1024px) {
		padding: 60px 0px;
		.slider-wrap {
			.arrows-icon {
				display: none;
			}
		}
		.blog-slider {
			gap: 30px;
			margin-inline: 0px;
		}
		.blog-item {
			width: calc(~"33.33% - 20px");
			&--wrap {
				margin: 0px;
			}
		}
	}
	@media(min-width: 1200px){ 
		.blog-slider {
			gap: 45px;
		}
		.blog-item {
			width: calc(~"33.33% - 30px");
			.thumb {
				.blog-date {
					&--day {
						font-size: 30px;
					}
					&--month {
						font-size: 12px;
					}
				}
			}
			.content {
				padding: 20px;
				h3 {
					margin-bottom: 10px;
					font-size: 24px;
				}
				p {
					margin-bottom: 15px;
					font-size: 15px;
				}
				a {
					font-size: 18px;
				}
			}
		}
	}
}